<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Share</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="file-share.css">
</head>
<body>
    <div class="container-fluid">
        <div id="app">
            <div class="files color">
                <input type="file" v-on:change="upload" ref="fileUpload">
            </div>

            <div v-if="sharedFiles.length !== 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 3%">#</th>
                            <th scope="col" style="width: 17%">Shared File</th>
                            <th scope="col" style="width: 10%">Size</th>
                            <th scope="col" style="width: 35%">Link</th>
                            <th scope="col" style="width: 20%">Downloads</th>
                            <th scope="col" style="width: 15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in sharedFiles" :key="item.hash">
                            <th scope="row">{{ index + 1 }}</th>
                            <td>{{ item.filename }}</td>
                            <td>{{ size(item.blob) }}</td>
                            <td><input :id="'link-' + item.hash" class="form-control" :value="location + 'file/download/' + item.hash" readonly></td>
                            <td>
                                <template v-for="(download, dindex) in item.downloads">
                                    <div class="progress" v-bind:style="{ marginTop: dindex == 0 ? 0 : '5px' }">
                                        <div v-bind:class="{ 'progress-bar': true, 'bg-success': download.status === 'success', 'bg-danger': download.status === 'failed' }" role="progressbar" v-bind:style="{ width: download.progress + '%' }" :aria-valuenow="download.progress" aria-valuemin="0" aria-valuemax="100">{{ download.ip }}</div>
                                    </div>
                                </template>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" v-on:click="copy(item)">Copy</button>
                                <button type="button" class="btn btn-danger" v-on:click="remove(item)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="file-share.js"></script>
</body>
</html>